<%provide(:text,'About')%>

<h1><%=yield(:text)%></h1>
<p>
The All NBA Headlines App consolidates 5 RSS feeds with NBA Fantasy Headlines. Let this be your deadliest news advantage. The current feeds are:
	<ul>
		<li>http://feeds.cbssports.com/cbssportsline/nba_news</li>
		<li>http://www.nba.com/rss/nba_rss.xml</li>
		<li>http://sports.yahoo.com/nba/rss.xml</li>
		<li>http://rss.cnn.com/rss/si_nba.rss</li>
		<li>http://sports.espn.go.com/espn/rss/nba/news</li>
	</ul>
</p>