<%provide(:text, 'Contact') %>

<h1><%= yield(:text)%></h1>
<p> 
Please don't hesitate to contact me <a href="mailto:joshua.gudjohnsen@gmail.com?Subject=NBA Headlines Feedback">
joshua.gudjohnsen@gmail.com</a>
</p>	